@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav {
  /*background: #151515;*/
  padding: 5px 40px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 15px 0;
  cursor: pointer;
}

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.items:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: orange;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}

nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}

nav ul li:hover a {
  color: orange;
}

nav ul li i {
  font-size: 23px;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn.hide i:before {
  content: '\f00d';
}

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }

  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.btn {
    display: block;
  }

  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px orange,
      inset 0 0 10px #66ffff;
  }

  nav ul li.items:hover:after {
    opacity: 0;
  }
}

/* for Tablets */
@media all and (max-width: 1000px) {

  .main-article {
    width: 50%;
    margin-bottom: 50px;
  }

  .header-container h1 {
    font-size: 32px;
  }

  .landing-page-container h1 {
    font-size: 32px;
  }

  .main-article-left h1 {
    font-size: 32px;
  }

  .cardteam {
    flex-wrap: wrap;
  }

  .cardteam .card {
    width: 25%;
    margin: 10px 15px;
  }
}

/* for Smartphones */
@media all and (max-width: 670px) {
  nav {
    padding: 5px 30px;
  }

  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.btn {
    display: block;
  }

  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px orange,
      inset 0 0 10px orange;
  }

  nav ul li.items:hover:after {
    opacity: 0;
  }

  footer {
    text-align: center;
  }

  .main-article {
    text-align: left;
    width: 100%
  }

  .main-article-container {
    display: flex;
    flex-direction: column;
  }

  .main-article-left {
    margin-top: 5vw;
  }

  .main-article-left p {
    width: 100%;
    font-size: 3vw;
    line-height: 3vw;
  }

  .cardteam {
    flex-direction: column;
  }

  .cardteam .card {
    width: 75%;
    margin: 10px auto;
  }
}